body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: #70A241;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #D4DE23;
}

section.main {
  padding: 10px 20px;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
}

.icon-text-wrapper svg {
  align-self: flex-start;
}

.children-wrapper {
  display: flex;
  width: 100%;
}